standalone_flow.json
[{"id":"2828c624e9c6dc8b","type":"tab","label":"Sample Flow","disabled":false,"info":"","env":[]},{"id":"b58e73a54aabe647","type":"corrently-config","name":"TZ1","token":"0xE791f20fB6b4D3229A42E389a0f1697b900bC412"},{"id":"ef4e84d9359fbd04","type":"inject","z":"2828c624e9c6dc8b","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["89933fb635a5d33d"]]},{"id":"89933fb635a5d33d","type":"Wind-Generation","z":"2828c624e9c6dc8b","name":"WKA 500MWha","api":"b58e73a54aabe647","multiplicator":"500000","x":340,"y":60,"wires":[["6890a426213ca563"]]},{"id":"576a00c1cb85ddb4","type":"Balancing","z":"2828c624e9c6dc8b","name":"","api":"b58e73a54aabe647","x":320,"y":180,"wires":[["6a63d3d0056d8a1d"],["def68f2c9c5c4d1b"]]},{"id":"b8a5d28c175aedbd","type":"Heating","z":"2828c624e9c6dc8b","name":"Flächenheizung 350x((120kwh*150m²)/JAZ3)","api":"b58e73a54aabe647","multiplicator":"-2100000","lat":0,"lon":0,"x":430,"y":120,"wires":[["9401c33642650385"]]},{"id":"2ca56e4726dc1e8c","type":"Consumption","z":"2828c624e9c6dc8b","name":"Gebäude (350x3000kWha)","api":"b58e73a54aabe647","filename":"lp_h0.csv","profile":"","multiplicator":"-1050000","x":740,"y":60,"wires":[["b8a5d28c175aedbd"]]},{"id":"def68f2c9c5c4d1b","type":"debug","z":"2828c624e9c6dc8b","name":"Profilergebnis","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":180,"wires":[]},{"id":"9401c33642650385","type":"Battery","z":"2828c624e9c6dc8b","name":"MTU 200 KWh Storage","capacity":"200","api":"b58e73a54aabe647","loadW":"100","unloadW":"100","loss":"10","x":750,"y":120,"wires":[["576a00c1cb85ddb4"]]},{"id":"6a63d3d0056d8a1d","type":"http response","z":"2828c624e9c6dc8b","name":"","statusCode":"","headers":{},"x":1010,"y":180,"wires":[]},{"id":"13f6d81e50d89cef","type":"http in","z":"2828c624e9c6dc8b","name":"","url":"/profile","method":"get","upload":false,"swaggerDoc":"","x":130,"y":60,"wires":[["89933fb635a5d33d"]]},{"id":"6890a426213ca563","type":"PV-Generation","z":"2828c624e9c6dc8b","name":"PV-Freifläche","api":"b58e73a54aabe647","multiplicator":"610000","az":"45","degree":"32","lat":"49.340","lon":"8.799","x":520,"y":60,"wires":[["2ca56e4726dc1e8c"]]}]